<footer id="footer-nav">
    <div class="footer-container">
        <div class="footer-section">
            <h2>Snel naar</h2>
            <ul>
                <li>Home</li>
                <li>Werk</li>
                <li>Ventures</li>
                <li>Mensen</li>
                <li>Vacatures</li>
                <li>Nieuws</li>
                <li>Hoe we werken</li>
            </ul>
        </div>
        <div class="footer-section">
            <h2>Ons werk</h2>
            <ul>
                <li>AI</li>
                <li>Apps</li>
                <li>Websites</li>
                <li>VR</li>
                <li>Voice</li>
                <li>Games</li>
                <li>Robots</li>
                <li>Connected devices</li>
                <li>Backend-werk</li>
            </ul>
        </div>
        <div class="footer-section-contact">

            <section>
                <h2>Contact</h2>
                <p>Bel ons op <a href="tel:0704452342">070 445 2342</a></p>
                <p>of stuur een mailtje naar <a href="mailto:info@q42.nl">info@q42.nl</a></p>
            </section>
            
            <section>
                <h4>Amsterdam Office</h4>
                <p>Van Diemenstraat 296</p>
                <p>1013 CR Amsterdam</p>
                <a href="https://www.google.nl/maps/place/Q42/@52.3752763,4.92829,17z/data=!3m1!4b1!4m5!3m4!1s0x47c6090f52229d1d:0x899366c2c023ec28!8m2!3d52.375273!4d4.930484?hl=en"> Bekijk Q020 op Google Maps</a>
            </section>

            <section>
                <h4>Den Haag Office</h4>
                <p>Saturnusstraat 14</p>
                <p>2516 AH Den Haag</p>
                <a
                    href="https://www.google.nl/maps/place/Q42/@52.0676294,4.3467988,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5b6e1dbe89f37:0x69602b11196a7df8!8m2!3d52.0676294!4d4.3489875?hl=en">Bekijk
                    Q070 op Google Maps</a>

                <p class="kvk-text">KvK 30164662 te Den Haag</p>
            </section>

        </div>
    </div>
</footer>
</body>

</html>