<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/stylesheet.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script type="module" src="/main.js" async></script>
    <script src="https://storage.googleapis.com/static.q42.nl/q42.js" async></script>
    {% assign pageTitle = "Onze mensen | Q42" %}
    <title>
        {{ pageTitle }}
    </title>
  </head>
<body> 