<header>
    <nav class="nav-list">
        <a class="menu-button" href="#footer-nav">
            <svg width="15" height="15" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" class="">
            <title>Naar het menu</title>
            <path d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z"></path>
            </svg>
            MENU
        </a>
        <div class="header-nav-container">
            <a class="menu-close" href="#">ｘ</a>
            <section class="header-nav">
                <h2>Snel naar</h2>
                <ul class="nav-list-header">
                    <li>Home</li>
                    <li>Werk</li>
                    <li>Ventures</li>
                    <li>Mensen</li>
                    <li>Vacatures</li>
                    <li>Nieuws</li>
                    <li>Hoe we werken</li>
                </ul>
            </section>
        </div>
        <a class="nav-links" href="/home">HOME</a>
        <a class="nav-links" href="/werk">WERK</a>
        <a class="nav-links" href="/ventures">VENTURES</a>
        <q42></q42>
        <a class="nav-links" href="/over">OVER</a>
        <a class="nav-links" href="/nieuws">NIEUWS</a>
        <a class="nav-links" href="#footer-nav">CONTACT</a>
        <a class="contact-link" href="#footer-nav">CONTACT</a>
    </nav>
    
</header>