{% render 'partials/head.liquid' %}
{% render 'partials/header.liquid' %}

<h1 class="hero-title">De mensen van Q42</h1>

<p class="hero-text">Onze mensen noemen we Q'ers. Maar wie zijn dat dan? Die Q'ers die het internet aan het afmaken zijn? Check ze allemaal hieronder. En wil je ook Q'er worden, scroll dan even voorbij onze hoofden voor de openstaande vacatures!</p>

<ul class="main-list">
    {% for mens in mensen %}
    <li>
        <div class="person-container">
            <img class="person-foto" src="{{ mens.avatars | first }}" alt="leden-foto">
            <p class="person-name">{{ mens.name }}</p>
            <div class="person-info">
                <p class="person-tags"> {{ mens.tags }}</p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% render 'partials/footer.liquid' %}