header {
    padding: 36px 18px 46px 18px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & a {
        color: var(--main-color);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .25em;
        font-family: proxima-nova, sans-serif;
        font-weight: 600;
        & svg {
            height: 15px;
            width: 15px;
            fill: var(--main-color);
        }
    }
    & .contact-link {
        color: var(--main-color);
        font-weight: 900;
        text-decoration: none;
        border: none;
        font-family: proxima-nova, sans-serif;
        font-size: 16px;
    }
    & q42 {
        height: 80px;
        width: 53px;
    }
}

.footer-nav-container {
    & a {
        color: var(--text-color-light);
        font-size: 2em;
        display: none;
        position: fixed;
        right: 5vw;
        top: 10vw;
        text-decoration: none;
        z-index: 999;
        &.show {
            display: block;
        }
        & ::after {
            content: '';
            background: rgba(0, 0, 0, .6);
            position: absolute;
            left: 100%;
            width: 100vw;
            height: 100vh;
        }
    }
    &.show {
        &::after {
            content: '';
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            background-color: rgba(25, 25, 25, 0.605);
        }
    }
}

.footer-nav {
    z-index: 888;
    position: fixed;
    inset: 0 50% 0 0;    
    right: 50%;
    transition: .2s ease-out;
    transform: translateX(-100%);
    background-color: var(--main-color);
    visibility: hidden;
    & h2 {
        margin-top: 2em;
        padding-left: var(--margin);
    }
    &:target, &.target {
        transform: translateX(0);
        visibility: visible;
    }
    
}

.menu-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.hero-title {
    margin-left: var(--margin);
    margin-right: var(--margin);
    font-size: 41.8864px;
}

.hero-text {
    font-size: 120%;
    font-weight: 700;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.main-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
    margin: 0;
    margin-top: 2em;
    & li {
        list-style-type: none;
        & .person-container {
            position: relative;
            height: 100%;
            width: 100%;
            &:hover {
                .person-name {
                    position: relative;
                }
                .person-info {
                    display: block;
                }
            }
        }
        .person-container::after {
            content: '';    
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: inset 70px -80px 80px 0 rgba(0,0,0,0.7);
            pointer-events: none;
        }
        & .person-foto {
            position: relative;
            display: block;
            height: 100%;
            width: 90vw;
            box-shadow: inset 30px -30px 20px 0 rgb(0,0,0);
        }
        & .person-name {
            position: absolute;
            left: 0;
            bottom: 0;
            margin-left: 5px;
            color: var(--text-color-light);
            font-family: proxima-nova, sans-serif;           
            font-size: 3em;
            font-weight: 600;
            z-index: 1;
        }
        & .person-info {
            display: none;
        }

    }
}

footer {
    margin-top: 2em;
    background-color: #41453b;
    & .footer-container {
        display: flex;
        flex-direction: column;
        padding-top: 2em;
        margin-left: var(--margin);
        margin-right: var(--margin);
        & .footer-section {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-bottom: 1em;
            & ul {
                display: flex;
                flex-direction: column;
                list-style-type: none;
                & li {
                    font-size: 1em;
                    color: var(--main-color);
                }
            }
            & a {
                color: #9dd349;
            }
        }
        & .footer-section-contact {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-bottom: 1em;
            & section {
                margin-bottom: 1em;
            }
            & section:nth-of-type(1) {
                display: flex;
                flex-direction: column;
                & h2 {
                    margin-bottom: .5em;
                }
            }
            & .kvk-text {
                margin-top: 1em;
            }
            & a {
                color: #9dd349;
            }
        }
        & .nav-list {
            margin-top: 3em;
            display: flex;
            flex-direction: column;
            gap: 2.7em;
            height: 50vh;
            list-style-type: none;
            & li {
                padding-left: var(--margin);
                padding-right: var(--margin);
                font-size: 1em;
                font-weight: 600;
                font-family: proxima-nova, sans-serif;
                color: var(--text-color-light);
                text-transform: uppercase;
            }
        }
    }
}