header {
    padding: 36px 18px 46px 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & svg {
        height: 15px;
        width: 15px;
        fill: var(--main-color);
    }
    & .menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .35em;
        color: var(--main-color);
        font-family: proxima-nova, sans-serif;
        font-size: 16px;
        font-weight: 900;
        display: flex;
        appearance: none;
        border: none;
        outline: none;
        background-color: transparent;
        height: auto;
        text-decoration: none;
    }
    & .contact-link {
        color: var(--main-color);
        font-weight: 900;
        text-decoration: none;
        border: none;
        font-family: proxima-nova, sans-serif;
        font-size: 16px;
    }
    & q42 {
        height: 80px;
        width: 53px;
    }
}

.hero-title {
    margin-left: var(--margin);
    margin-right: var(--margin);
    font-size: 41.8864px;
}

.hero-text {
    font-size: 120%;
    font-weight: 700;
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.main-list {
    margin: 0;
    margin-top: 2em;
}

footer {
    margin-top: 2em;
    background-color: #41453b;
    & .footer-container {
        display: flex;
        flex-direction: column;
        padding-top: 2em;
        margin-left: var(--margin);
        margin-right: var(--margin);
        & .footer-section {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-bottom: 1em;
            & a {
                color: #9dd349;
            }
        }
        & .footer-section-contact {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-bottom: 1em;
            & section {
                margin-bottom: 1em;
            }
            & section:nth-of-type(1) {
                display: flex;
                flex-direction: column;
                & h2 {
                    margin-bottom: .5em;
                }
            }
            & .kvk-text {
                margin-top: 1em;
            }
            & a {
                color: #9dd349;
            }
        }
        & ul {
            list-style-type: none;
            & li {
                color: #9dd349;
            }
        }
    }
}